<div class="container">
  <div class="row row-cols-3">
    <div class="col">
      <label for="amount" class="form-label">Amount</label>
      <input type="amount" class="form-control" id="inputAmount" placeholder="1">
    </div>
    <div class="col">
      <label for="inputBaseCurrency" class="form-label">From</label>
      <select id="inputBaseCurrency" class="form-select">
        <option selected>EUR - Euro</option>
        <option>USD - United States Dollar</option>
        <option>GBP - Great Britain Pound</option>
        <option>NOK - Norwegian Krone</option>
      </select>
    </div>
    <div class="col">
      <label for="inputTargetCurrency" class="form-label">To</label>
      <select id="inputBaseCurrency" class="form-select">
        <option>EUR - Euro</option>
        <option>USD - United States Dollar</option>
        <option>GBP - Great Britain Pound</option>
        <option selected>NOK - Norwegian Krone</option>
      </select>
    </div>
    <div class="col">
      <label for="startDate">Date</label>
      <input id="startDate" class="form-control" type="date" />
    </div>
    <div class="col">
    </div>
    <div class="col">
      <label for="convert" class="form-label"></label>
      <button id="convert" type="button" class="form-control btn btn-dark">Convert</button>
    </div>
  </div>
</div>

