<div class="p-4 p-md-5 mb-4 text-white dark-purple-bg">
  <div class="px-0 text-center">
    <span>JPS</span>
    <h1 class="display-4 fst-italic"> <strong>Currency Tracker</strong></h1>
    <p class="lead my-3">Your favorite money calculator! Bookmark it now.</p>
  </div>
</div>

<%= render "currency_calculator" %>