<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="px-0 text-center">
    <h1 class="display-4 fst-italic">JPS Currency Tracker</h1>
    <p class="lead my-3">Your favorite site! Bookmark it now!</p>
  </div>
</div>

<%= render "currency_calculator" %>